<template name="postSingle">
  <div class="post mt-3">
    <div class="post-content">
      <h1 class="post-title text-muted">{{title}}</h1>
      <div class="row">
        <div class="col-7">
          <small class="text-muted"><em>{{category}}</em><br>{{address}}</small>
        </div>
        <div class="col-5">
          <small class="text-muted float-right">
            <!-- {{pluralize votes "voto"}},
            {{pluralize commentsCount "comentario"}} -->
            <div class="btn-group" role="group" aria-label="Basic example">
              <a href="#comentarios" class="comment btn btn-link {{commentClass}}">{{commentsCount}} <i class="far fa-comment-alt"></i></a>
              <a href="#" class="upvote btn btn-link {{upvotedClass}}">{{votes}} <i class="{{upvoteIconClass}}"></i> </a>
            </div>
          </small>
        </div>
      </div>
      <p class="post-description mt-3 mb-3">
        {{description}}
      </p>
      <hr>
      <p class="clearfix mb-0">
        <small class="text-muted float-right">
          {{#if author}}<i class="far fa-user-circle"></i> {{author}} {{/if}}  {{#if ownPost}}<br> <a class="float-right mt-3" href="{{pathFor '/idea/:slug/editar' slug=slug}}"><small> <i class="far fa-edit"></i> Editar</small></a>{{/if}}
        </small>
        <small class="text-muted float-left">
          <i class="far fa-calendar-alt"></i> {{submitted.toLocaleDateString}}
        </small>
      </p>
    </div>
  </div>
</template>
