<template name="postItem">
  <div class="post cat-{{icon}}">
    <div class="post-content">
      <header class="clearfix">
        <h3 class="post-title float-left">
          <a href="{{pathFor '/idea/:slug' slug=slug}}">{{title}}</a>
           <small class="text-muted"><em>{{category}}</em></small>
        </h3>
      </header>
      {{#if address}}
        <p class="mb-1">
          <small class="text-secondary">{{address}}</small>
        </p>
      {{/if}}
      <small class="clearfix mb-0">
        <small class="text-muted float-right mt-2">
          <!-- {{pluralize votes "voto"}},
          {{pluralize commentsCount "comentario"}} -->
          <div class="btn-group" role="group" aria-label="Basic example">
            <a class="comment btn btn-sm btn-link {{commentClass}}" href="{{pathFor '/idea/:slug' slug=slug}}"  title="Ingresa para votar">{{commentsCount}} <i class="far fa-comment-alt"></i></a>
            <a class="upvote btn btn-sm btn-link {{upvotedClass}}"  href="#" title="Ingresa para comentar">{{votes}} <i class="{{upvoteIconClass}}"></i> </a>
          </div>
        </small>
        <small class="text-muted float-left mt-1">
          <i class="far fa-calendar-alt"></i> {{submitted.toLocaleDateString}} <br>
          {{#if author}}<i class="far fa-user-circle"></i> {{author}} {{/if}}  {{#if ownPost}}<a href="{{pathFor '/idea/:slug/editar' slug=slug}}"><small> <i class="far fa-edit"></i> Editar</small></a>{{/if}}
        </small>
      </small>
    </div>
  </div>
</template>
