<template name="notifications">
  <a href="#" class="nav-link dropdown-toggle" data-toggle="dropdown" id="notificationsDropdown" role="button">
    <i class="far fa-bell"></i>
    {{#if notificationCount}}
      <span class="notifications-counter badge badge-pill">{{notificationCount}}</span>
    {{/if}}
    <small class="d-lg-none">Notificaciones</small>
  </a>
  <div class="notification dropdown-menu" aria-labelledby="notificationsDropdown">
    {{#if notificationCount}}
      {{#each notifications}}
        {{> notificationItem}}
      {{/each}}
    {{else}}
      <div class="dropdown-item"><span>No hay notificaciones</span></div>
    {{/if}}
  </div>
</template>

<template name="notificationItem">
  <a class="dropdown-item" href="{{notificationPostPath}}">
    <strong>{{commenterName}}</strong> comentó tu idea.
  </a>
</template>

<template name="notificationsWidget">
  <div class="notifications list-group">
    <div class="list-group-item p-1">
        <div class="clearfix">

          <i class="{{notificationIconClass}}"></i>
          {{#if notificationCount}}

            <small class="text-primary">Notificaciones</small>
            <span class="notifications-counter badge badge-pill float-right bg-primary">{{notificationCount}}</span>

          {{else}}
            <small class="text-muted">No hay notificaciones</small>
          {{/if}}
        </div>
    </div>
    {{#if notificationCount}}
      {{#each notifications}}
        {{> notificationsWidgetItem}}
      {{/each}}
    {{/if}}
  </div>
</template>

<template name="notificationsWidgetItem">
  <a class="list-group-item list-group-item-action p-1" href="{{notificationPostPath}}">
    <small class="text-secondary"><strong>{{commenterName}}</strong> comentó tu idea.</small>
  </a>
</template>
