<template name="commentItem">
  <li class="list-group-item pt-3 pb-3">
    <h4 class="clearfix mb-2">
      <span class="author float-left"><i class="far fa-user-circle"></i> {{author}}</span>
      <span class="date float-right"><i class="far fa-calendar-alt"></i> {{submitted.toLocaleDateString}}</span>
    </h4>
    <p class="text-secondary"><small>{{body}}</small></p>
  </li>
</template>

<template name="commentDashboardItem">
  <a class="list-group-item list-group-item-action p-1 pt-2 pb-2" href="{{pathFor '/idea/:slug' slug=postSlug}}">
    <div class="clearfix">
      <small class="date float-right"><i class="far fa-calendar-alt"></i> {{submitted.toLocaleDateString}}</small>
      <p class="user-comment text-secondary mb-0"><small>{{body}}</small></p>
    </div>
  </a>
</template>
