<template name="hero">
  <div class="jumbotron home">
    <div class="container">
      <div class="row">
        <div class="col-sm-4 offset-md-2">
          <h1>Haz parte del cambio</h1>
          <p>
            Propón una idea para mejorar tu ciudad,. ¡Compartela y recibe ayuda para hacerla real!
          </p>
          <a class="btn btn-success btn-lg" href="#">
            Sube tu idea
          </a>
        </div>
        <div class="col-sm-4 col-md-5 city-image">
          <img src="/img/city.svg" alt="" class="fluid-img"/>
        </div>
      </div>
    </div>
  </div>
</template>
