<template name="header">
  <div class="navbar navbar-light navbar-expand-lg" role="navigation">
    <a class="navbar-brand" href="{{pathFor 'home'}}">Chango</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="navbar-collapse collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
            {{#if currentUser}}
              <li class="nav-item"><a class="nav-link" href="{{pathFor 'submit'}}">Submit</a></li>
              <li class="nav-item dropdown">
                {{> notifications}}
              </li>
            {{/if}}
            <li class="nav-item"><a class="nav-link" href="{{pathFor 'about'}}">About</a></li>
        </ul>
        <ul class="navbar-nav">
            {{#if currentUser}}
              <li class="nav-item">
                <button class="btn btn-secondary btn-logout">
                  Logout
                  {{currentUser.profile.name}}
                </button>
              </li>
            {{else}}
              <li class="nav-item"><a class="nav-link" href="{{pathFor 'signin'}}">Sign In</a></li>
              <li class="nav-item"><a class="nav-link" href="{{pathFor 'join'}}">Join</a></li>
            {{/if}}
        </ul>
    </div>
  </div>
</template>
