@font-face {
  font-family: "Fenway Normal";
  src: url("fonts/Fenway-Regular.eot");
  src: url("fonts/Fenway-Regular.eot?#iefix") format("embedded-opentype"),
    url("fonts/Fenway-Regular.woff2") format("woff2"),
    url("fonts/Fenway-Regular.woff") format("woff"),
    url("fonts/Fenway-Regular.ttf") format("truetype"),
    url("fonts/Fenway-Regular.svg#Fenway-Regular") format("svg");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
