.home {
  &.page {
    @include media-breakpoint-up(md) {
      box-shadow: 0 rem-calc(50) $bone inset;
    }
  }
}

.jumbotron {
  box-shadow: $box-shadow-sm;
  h2 {
    font-size: rem-calc(60);
  }
  .title-auth {
    font-size: rem-calc(24);
    @include media-breakpoint-up(md) {
      font-size: rem-calc(32);
    }
  }
  &.auth {
    box-shadow: $box-shadow-sm;
    padding-bottom: rem-calc(32);
  }
  &.hero {
    padding-top: rem-calc(88);
    padding-bottom: rem-calc(58);
    border-radius: 0;
    color: $white;
    margin-bottom: 0;
    @include media-breakpoint-up(md) {
      padding-bottom: rem-calc(32);
    }
    .hero-title {
      line-height: 1;
      letter-spacing: -1px;
      font-size: rem-calc(40);
      @include media-breakpoint-up(md) {
        max-width: 7em;
      }
      @include media-breakpoint-up(lg) {
        font-size: rem-calc(56);
        line-height: 0.9;
      }
      @include media-breakpoint-up(xl) {
        font-size: rem-calc(64);
      }
    }
    .hero-text {
      font-size: rem-calc(16);
      line-height: 1.325;
      @include media-breakpoint-up(md) {
        max-width: 20em;
      }
      @include media-breakpoint-up(lg) {
        font-size: rem-calc(18);
      }
      @include media-breakpoint-up(xl) {
        font-size: rem-calc(20);
      }
    }
    .btn {
      &:not(.btn-sm) {
        box-shadow: 0 1px 0 darken($success, 10);
        font-size: rem-calc(16);
        @include media-breakpoint-up(lg) {
          font-size: rem-calc(20);
        }
      }
    }
    .form-group {
      .btn,
      .form-control {
        width: 100%;
        margin-top: rem-calc(6);
      }
    }
  }

  .city-image {
    padding: 0;
    img {
      width: 100%;
    }
    @include media-breakpoint-up(lg) {
      padding: 0 rem-calc(15);
    }
  }
  .landing-area & {
    background-color: transparent;
    padding: rem-calc(16);
    margin-bottom: 0;
    box-shadow: none;
  }
}

.landing-area {
  padding: rem-calc(50) 0;

  background-color: $bone;
  background-size: 80%;
  background-position: center;
  background-repeat: no-repeat;
  background-blend-mode: multiply;
  align-items: center;
  display: flex;
  background-position: center rem-calc(50);
  padding-top: 75%;

  @include media-breakpoint-up(md) {
    background-size: 55%;
    padding: rem-calc(120) 0;
    padding-top: rem-calc(80);
    background-position: 100% center;
  }
  @include media-breakpoint-up(lg) {
    background-size: rem-calc(592);
    padding: rem-calc(160) 0;
  }
  @include media-breakpoint-up(xl) {
    background-size: rem-calc(800);
    min-height: rem-calc(720);
    background-position: 85% center;
  }
  &.bg-first,
  &.bg-third {
    background-color: $white;
  }
  &.bg-first {
    background-image: url(/img/city-find.svg);
  }
  &.bg-second {
    background-image: url(/img/city-future.svg);

    @include media-breakpoint-up(md) {
      background-position: 0 center;
      text-align: right;
      .landing-area-title,
      p {
        margin-left: auto;
      }
    }
    @include media-breakpoint-up(xl) {
      background-position: 15% center;
    }
  }
  &.bg-third {
    background-image: url(/img/city-real.svg);
  }
  .landing-area-title {
    font-size: rem-calc(28);
    line-height: 1;

    @include media-breakpoint-up(md) {
      max-width: 9em;
    }

    @include media-breakpoint-up(lg) {
      font-size: rem-calc(32);
    }
  }
  p {
    @include media-breakpoint-up(md) {
      max-width: 25em;
    }
    @include media-breakpoint-up(lg) {
      max-width: 16em;
    }
    @include media-breakpoint-up(xl) {
      max-width: 24em;
    }
  }
  p,
  p + .btn {
    font-size: rem-calc(14);
    @include media-breakpoint-up(lg) {
      font-size: rem-calc(16);
    }
  }
}

.geoloc {
  position: relative;
  z-index: 1;
}

.user-comment {
  white-space: nowrap;
  text-overflow: ellipsis;
  max-width: 70%;
  overflow: hidden;
}

.page {
  &.terms,
  &.privacy {
    padding-top: rem-calc(40);
  }
  &.about,
  &.contact {
    p {
      line-height: 2;
      @include media-breakpoint-up(md) {
        font-size: rem-calc(20);
      }
    }
  }
}

.page-title {
  margin-bottom: rem-calc(160);
  @include media-breakpoint-up(md) {
    margin-bottom: rem-calc(200);
  }
}
