.section-title {
  color: $dark-teal;
  text-transform: lowercase;
}

.post {
  position: relative;
  &:after,
  &:before {
    content: "";
    display: table;
  }
  &:before {
    content: "";
    position: absolute;
    background-color: $primary;
    left: 0;
    top: rem-calc(32);
    height: rem-calc(16);
    width: 1px;
  }
  .badge {
    font-weight: 600;
    font-size: 12px;
    background-color: $white;
  }
  small {
    font-size: rem-calc(10);
  }
  &.cat-1 {
    &:before {
      background-color: $info;
    }
    .badge {
      color: $info;
    }
  }
  &.cat-2 {
    &:before {
      background-color: $warning;
    }
    .badge {
      color: $warning;
    }
  }
  &.cat-3 {
    &:before {
      background-color: $success;
    }
    .badge {
      color: $success;
    }
  }
  &.cat-4 {
    &:before {
      background-color: $purple;
    }
    .badge {
      color: $purple;
    }
  }
  &.cat-5 {
    &:before {
      background-color: $dark-blue;
    }
    .badge {
      color: $dark-blue;
    }
  }
  &.after {
    clear: both;
  }
  &.invisible {
    opacity: 0;
  }
  &.instant {
    transition: none;
  }
  &.animate {
    transition: top 300ms ease-in;
  }
  .post-title {
    font-size: rem-calc(32);
    @include media-breakpoint-up(lg) {
      font-size: rem-calc(40);
    }
  }
  .btn-logged-out {
    color: $text-muted;
    &:hover,
    &:active {
      color: $secondary;
    }
  }
  .post-content {
    .post-title {
      margin: 0;
      line-height: 1.15;
      font-size: rem-calc(18);
      @include media-breakpoint-up(md) {
        font-size: rem-calc(20);
      }
      @include media-breakpoint-up(lg) {
        font-size: rem-calc(22);
      }
      .posts & {
        font-size: rem-calc(16);
      }
      a {
        display: inline-block;
        margin-right: rem-calc(5);
        color: $secondary;
        &:hover {
          color: $primary;
        }
      }

      p {
        margin: 0;
      }
      .text-muted {
        font-size: rem-calc(12);
      }
    }

    .btn-group:not(.dropup) {
      font-size: rem-calc(12);
      .btn-sm {
        padding: rem-calc(4);
        margin-right: rem-calc(16);
      }
    }
  }
  .dropup {
    .dropdown-menu.show {
      top: 8px;
    }
    .dropdown-toggle {
      color: $dark-teal;
      &::after {
        content: none;
      }
    }
  }
  .dropdown-item {
    font-size: rem-calc(12);
    color: $dark-teal;
  }
}

.load-more {
  display: block;
  border-radius: rem-calc(3);
  background: rgba($primary, 0.15);
  text-align: center;
  height: rem-calc(60);
  line-height: rem-calc(60);
  font-style: italic;
  &:hover {
    text-decoration: none;
    transition: 0.3s ease-in-out;
    background: rgba($primary, 0.3);
  }
}

.comments,
.user-comments {
  list-style-type: none;
  margin: 0;
  h4 {
    font-size: rem-calc(14);
    margin: 0;
    color: $text-muted;
    a {
      font-size: rem-calc(12);
    }
  }
  .date {
    font-size: rem-calc(11);
    font-weight: normal;
    color: $text-muted;
  }
  p:last-child {
    margin-bottom: 0;
  }
}

.geoloc-text {
  display: none;
  color: transparent;
  transition: 0.3s ease-in-out color;
  .geoloc:hover & {
    display: inline;
    color: $secondary;
  }
}

.social-buttons {
  .btn-sm {
    color: $white;
  }
}
